<div class="container content">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="testimonials">
				<div class="active item">
					<blockquote><p>Forum you probably have not heard of. A place where you can share all the problems you have with your car, and if you don't have any, you can just read for pleasure.</p></blockquote>
					<div class="carousel-info">
						<img src="/images/martin-picture.jpg" class="pull-left">
						<div class="pull-left">
							<span class="testimonials-name">Martin Atanasov</span>
							<span class="testimonials-post">Product Manager</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>