@{
	ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="~/images/vw-logo.jpg" alt="ASP.NET" class="img-responsive" />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Application uses</h2>
		<ul>
			<li>Services</li>
			<li>Clients</li>
			<li>Bootstrap themes</li>
		</ul>
	</div>
	<div class="col-md-4">
		<h2>Overview</h2>
		<ul>
			<li>Basic VW Forum where you can share your problems, and find them solutions</li>
		</ul>
	</div>
	<div class="col-md-4">
		<h2>Run &amp; Deploy</h2>
		<ul>
			<li>Go to register page, create and account and have fun!</li>
			<li>If you already have an account, just go to Log In page and initialize yourself!</li>

		</ul>
	</div>
</div>
